In [1]:
import numpy as np
import pandas as pd

import pyspark.sql.types as T
import pyspark.sql.functions as F
from collections import Counter

In [2]:
df = sqlContext.read.parquet("out/Training_2002_2005.parquet")

In [3]:
df.head()

Row(source_id=16526454, source_year=2005, source_j=u'J AOAC Int', source_n_mesh=11, source_n_mesh_ex=53, source_is_eng=1, source_country=u'JAPAN', source_is_journal=1, source_is_review=0, source_is_case_rep=0, source_is_let_ed_com=0, source_T_novelty=41, source_V_novelty=2417, source_PT_novelty=6, source_PV_novelty=2, source_ncites=2, source_n_authors=4, sink_id=11848579, sink_year=2002, sink_j=u'J Food Prot', sink_n_mesh=8, sink_n_mesh_ex=48, sink_is_eng=1, sink_is_journal=1, sink_is_review=0, sink_is_case_rep=0, sink_is_let_ed_com=0, sink_T_novelty=38, sink_V_novelty=1794, sink_PT_novelty=0, sink_PV_novelty=3, sink_n_authors=2, year_span=3, journal_same=0, mesh_sim=0.2666666805744171, title_sim=0.6145098805427551, lang_sim=1.0, affiliation_sim=0.0, pubtype_sim=0.5, cite_sim=0.3333333432674408, author_sim=0.0, gender_sim=0.7071067690849304, eth_sim=0.5, n_common_authors=0, auid=u'6185531_1', gender=u'M', eth1=u'JAPANESE', eth2=u'UNKNOWN', pos=1, pos_nice=1, sink_last_ncites=2, sink_prev_ncites=1, auth_last_npapers=1, auth_prev_papers=20, jj_sim=14.605299949645996, is_self_cite=0)

In [4]:
df.filter("pos_nice == 2 AND pos == 2").head()

Row(source_id=15543590, source_year=2005, source_j=u'J Med Virol', source_n_mesh=15, source_n_mesh_ex=82, source_is_eng=1, source_country=u'JAPAN', source_is_journal=1, source_is_review=0, source_is_case_rep=0, source_is_let_ed_com=0, source_T_novelty=36, source_V_novelty=1715, source_PT_novelty=0, source_PV_novelty=1, source_ncites=34, source_n_authors=11, sink_id=3711685, sink_year=1986, sink_j=u'J Infect Dis', sink_n_mesh=12, sink_n_mesh_ex=57, sink_is_eng=1, sink_is_journal=1, sink_is_review=0, sink_is_case_rep=0, sink_is_let_ed_com=0, sink_T_novelty=15, sink_V_novelty=1463, sink_PT_novelty=2, sink_PV_novelty=3, sink_n_authors=5, year_span=19, journal_same=0, mesh_sim=0.1666666716337204, title_sim=0.37721675634384155, lang_sim=1.0, affiliation_sim=0.0, pubtype_sim=0.25, cite_sim=0.03125, author_sim=0.0, gender_sim=0.9300464987754822, eth_sim=0.6515082120895386, n_common_authors=0, auid=u'14575764_4', gender=u'M', eth1=u'JAPANESE', eth2=u'UNKNOWN', pos=2, pos_nice=2, sink_last_ncites=5, sink_prev_ncites=97, auth_last_npapers=2, auth_prev_papers=1, jj_sim=18.048799514770508, is_self_cite=0)

In [5]:
df.filter("pos_nice == 2 AND pos == 2").count()

34032575

In [6]:
df.filter("pos_nice == 2 AND pos == 2").write.format("csv").options(header="false", delimiter="\t").save("out/Training_2002_2005.txt")

In [7]:
! cat out/Training_2002_2005.txt/*.csv > out/Training_2002_2005.middle_2nd_author.txt

In [8]:
colnames = ["source_id", "source_year", "source_j", "source_n_mesh", "source_n_mesh_ex",
           "source_is_eng", "source_country", "source_is_journal", "source_is_review", "source_is_case_rep",
           "source_is_let_ed_com", "source_T_novelty", "source_V_novelty", "source_PT_novelty", "source_PV_novelty",
           "source_ncites", "source_n_authors",
           "sink_id", "sink_year", "sink_j", "sink_n_mesh", "sink_n_mesh_ex",
           "sink_is_eng", "sink_is_journal", "sink_is_review", "sink_is_case_rep",
           "sink_is_let_ed_com", "sink_T_novelty", "sink_V_novelty", "sink_PT_novelty", "sink_PV_novelty",
           "sink_n_authors",
           "year_span", "journal_same", "mesh_sim", "title_sim", "lang_sim", "affiliation_sim",
           "pubtype_sim", "cite_sim", "author_sim", "gender_sim", "eth_sim", "n_common_authors",
           "auid", "gender", "eth1", "eth2", "pos", "pos_nice",            
            "sink_last_ncites","sink_prev_ncites",
            "auth_last_npapers","auth_prev_papers",
            "jj_sim",
            "is_self_cite"
           ]
len(colnames)

56

In [9]:
df_p = pd.read_csv("out/Training_2002_2005.middle_2nd_author.txt", sep="\t", header=None)

In [10]:
df_p.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,15543590,2005,J Med Virol,15,82,1,JAPAN,1,0,0,...,JAPANESE,UNKNOWN,2,2,5,97,2,1,18.0488,0
1,15543590,2005,J Med Virol,15,82,1,JAPAN,1,0,0,...,JAPANESE,UNKNOWN,2,2,3,42,2,1,0.0000,0
2,15543590,2005,J Med Virol,15,82,1,JAPAN,1,0,0,...,JAPANESE,UNKNOWN,2,2,5,77,2,1,0.0000,0
3,15543590,2005,J Med Virol,15,82,1,JAPAN,1,0,0,...,JAPANESE,UNKNOWN,2,2,8,198,2,1,19.3836,0
4,15543590,2005,J Med Virol,15,82,1,JAPAN,1,0,0,...,JAPANESE,UNKNOWN,2,2,8,17,2,1,0.0000,0

In [11]:
df_p.columns = colnames

In [12]:
with pd.HDFStore("out/Training_2002_2005.middle.h5") as store:
    store["middle_2nd_author"] = df_p

In [13]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: out/Training_2002_2005.middle.h5
File is CLOSED

In [14]:
df_p.columns

Index([u'source_id', u'source_year', u'source_j', u'source_n_mesh',
       u'source_n_mesh_ex', u'source_is_eng', u'source_country',
       u'source_is_journal', u'source_is_review', u'source_is_case_rep',
       u'source_is_let_ed_com', u'source_T_novelty', u'source_V_novelty',
       u'source_PT_novelty', u'source_PV_novelty', u'source_ncites',
       u'source_n_authors', u'sink_id', u'sink_year', u'sink_j',
       u'sink_n_mesh', u'sink_n_mesh_ex', u'sink_is_eng', u'sink_is_journal',
       u'sink_is_review', u'sink_is_case_rep', u'sink_is_let_ed_com',
       u'sink_T_novelty', u'sink_V_novelty', u'sink_PT_novelty',
       u'sink_PV_novelty', u'sink_n_authors', u'year_span', u'journal_same',
       u'mesh_sim', u'title_sim', u'lang_sim', u'affiliation_sim',
       u'pubtype_sim', u'cite_sim', u'author_sim', u'gender_sim', u'eth_sim',
       u'n_common_authors', u'auid', u'gender', u'eth1', u'eth2', u'pos',
       u'pos_nice', u'sink_last_ncites', u'sink_prev_ncites',
       u'auth_last_npapers', u'auth_prev_papers', u'jj_sim', u'is_self_cite'],
      dtype='object')